:root {
    --dark: #0a0a0a;
    --grey: #f6f6f6;
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--grey);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.6;
}

/* ///////////
   Bootstrap
/////////// */

.py-6 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.bg-light { background-color: var(--light) !important; }
.bg-grey { background-color: var(--grey) !important; }
.bg-dark { background-color: var(--dark) !important; }

.navbar { min-height: 5rem; }

.btn {
    padding: .75rem 1rem;
    border-radius: .1rem;
    font-weight: 600;
}

.btn-dark { background-color: var(--dark); }

.btn-outline-dark:hover {
    background-color: var(--dark);
}

.badge { padding: .5em 1em; }

.badge-secondary { 
    background-color: var(--grey);
    color: var(--dark);
}

.font-weight-bold { font-weight: 700 !important; }

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.modal-dialog {
    max-width: 800px;
}

/* ///////////
   Hero
/////////// */

.hero {
    background: linear-gradient(180deg,var(--grey) 70%,var(--light) 0);
}




/* ///////////
   About us
/////////// */

.member-info {
    bottom: 3rem;
    left: 3rem;
}

/* ///////////
   Blog
/////////// */

.user {
    max-width: 50px;
}

/* ///////////
   Responsive 
/////////// */

@media (max-width: 768px) { 
    .modal-dialog {
        max-width: 500px;
    }
}
@media (max-width: 575.98px) { 
    .w-75 {
        width: 100% !important;
    }
    .display-4 {
        font-size: 2.4rem;
    }
    .btn {
        width: 100%;
    }
    .text-right {
        text-align: center !important;
    }
}
