{% extends 'layouts/nav.html' %}
{% load static %}

{% block content %}

<section class='container py-5'>
<div class="jumbotron jumbotron m-4">
    <div class="container">
      <h1 class="display-4">Bienvenido a Easy-Transport</h1>
      <p class="lead"> Aplicativo web para la gestión en los procesos de movilización 
        del sistema de transporte masivo en la ciudad de Cartagena(Transcaribe)</div>
      <img src= {% static '/img/transcaribe.jpg' %} class='rounded mx-auto img-fluid p-3 '>
</div>
</section>

{% endblock  %}

