{% extends 'layouts/nav.html' %} 
{% load static %}
{% block content %}
<section class="hero bg-grey d-flex py-6">
    <div class="container align-self-center">
      <div class="text-center w-75 mx-auto mb-5">
        <h1 class="display-4 mb-3">Somos expertos en <span class="font-weight-bold">la optimizacion y calidad en el transporte</span></h1>
        <p class="lead text-muted mb-5">Creamos esta Web para ayudarte a mejorar tu experiencia en el sistema de transporte</p>
        <a href="{% url 'signin' %}" class="btn btn-dark mr-2 mb-4">Iniciar Seccion</a>
        <a href="#footer" class="btn btn-outline-dark mb-4">Contáctanos ahora</a>
      </div>
      <button type="button" data-toggle="modal" data-target="#exampleModal" class="position-relative d-flex justify-content-center align-items-center border-0 p-0" onclick="showVideo()">
        <div class="play-icon position-absolute  d-flex align-self-center">
          <i class="icon ion-md-play text-red align-self-center mx-auto">Easy-Transport</i>
        </div>
        <img src="{% static 'img/inicio.jpg'%}" class="img-fluid w">
      </button>
    </div>
  </section>  
<section class="py-6 bg-light" id = "conocenos">
    <div class="container">
      <h2 class="mb-0">Nuestro equipo</h2>
      <p class="lead text-muted mb-5">Nuestro objetivo es gestionar y mejorar el tiempo de espera para los usuarios.</p>
    <div class="row">
      <div class="col-lg-4">
        <div class="my-3">
        <img src="{%static 'img/tras.jpeg' %}" class="img-fluid" alt="https://unsplash.com/@brokenlenscap">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="my-3">
        <img src="{%static 'img/tras1.jpeg' %}" class="img-fluid" alt="img">
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="align-self-center my-3">
        <h2 class="mb-4">Quienes somos?</h2>
          <p class="text-muted mb-4">Somos un equipo que garantiza un servicio público de transporte confiable, para mejorar la calidad de vida y la competitividad de la ciudad, mediante un sistema troncoalimentado integralmente seguro, que alcance tiempos óptimos de desplazamiento, y que responda a las condiciones naturales y culturales de la ciudad.</p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="py-6 bg-light" id="Noticias">
    <div class="container">
      <h2 class="mb-0">Noticias recientes</h2>
      <p class="lead text-muted mb-5">Los mejores artículos de la industria</p>
      <div class="row">
        <div class="col-lg-4">
          <div class="card border-0 rounded-0 bg-grey my-3">
            <div class="card-header d-flex border-0 bg-grey p-4">
              <div class="mr-2">
                <img src="{% static 'img/transcaribe.jpg' %}" class="img-fluid rounded-circle user">
              </div>
              <div class="align-self-center">
                <small class="d-block">Publicado por <span class="font-weight-bold">Samuel Rivera</span></small>
                <small class="d-block">6 de Abril, 2023</small>
              </div>
            </div>
            <div class="card-body p-4">
              <small class="d-block mb-3">Sucesos - 4 min lectura</small>
              <h6>Dos usuarios se fueron a los golpes en estación de Transcaribe</h6>
            </div>
            <div class="card-footer border-0 bg-grey p-4">
              <a href="" class="text-dark"><small>Leer más</small> <i class="icon ion-md-arrow-forward align-middle ml-2"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-0 rounded-0 bg-grey my-3">
            <div class="card-header d-flex border-0 bg-grey p-4">
              <div class="mr-2">
                <img src="{% static 'img/transcaribe.jpg' %}" class="img-fluid rounded-circle user">
              </div>
              <div class="align-self-center">
                <small class="d-block">Publicado por <span class="font-weight-bold">Samuel Rivera</span></small>
                <small class="d-block">12 de Abril, 2023</small>
              </div>
            </div>
            <div class="card-body p-4">
              <small class="d-block mb-3">Cambios - 2 min lectura</small>
              <h6>Así quedarán los recorridos de las rutas T102, T103, rutas pretroncales y C001</h6>
            </div>
            <div class="card-footer border-0 bg-grey p-4">
              <a href="" class="text-dark"><small>Leer más</small> <i class="icon ion-md-arrow-forward align-middle ml-2"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-0 rounded-0 bg-grey my-3">
            <div class="card-header d-flex border-0 bg-grey p-4">
              <div class="mr-2">
                <img src="{% static 'img/transcaribe.jpg' %}" class="img-fluid rounded-circle user">
              </div>
              <div class="align-self-center">
                <small class="d-block">Publicado por <span class="font-weight-bold">Samuel Rivera</span></small>
                <small class="d-block">18 de Abril, 2023<small>
              </div>
            </div>
            <div class="card-body p-4">
              <small class="d-block mb-3">Cambios - 2 min lectura</small>
              <h6>Se agudiza la crisis de Transcaribe en Cartagena: tarjetas dejarían de funcionar</h6  >
            </div>
            <div class="card-footer border-0 bg-grey p-4">
              <a href="" class="text-dark"><small>Leer más</small> <i class="icon ion-md-arrow-forward align-middle ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-grey py-6">
    <div class="container">
        <div class="w-75 mx-auto text-center">
          <h2 class="mb-0">Es momento de empezar con Easy_Transport</h2>
          <p class="lead text-muted mb-4">No pierdas la oportunidad</p>
          <a href="{% url 'signin' %}" class="btn btn-dark mx-1 mb-4">Iniciar seccion</a>
          <a href="{% url 'signup' %}" class="btn btn-outline-dark mx-1 mb-4">Registrate</a>
        </div>
    </div>
  </section>
  <section class="bg-light border-top">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-12 text-center py-4 border-right border-bottom">
        <small><a href="" class="text-dark"><i class="icon ion-logo-instagram mr-3 align-middle lead"></i> Instagram</a></small>
      </div>
      <div class="col-lg-3 col-md-12 text-center py-4 border-right border-bottom">
        <small><a href="" class="text-dark"><i class="icon ion-logo-facebook mr-3 align-middle lead"></i> Facebook</a></small>
      </div>
      <div class="col-lg-3 col-md-12 text-center py-4 border-right border-bottom">
        <small><a href="" class="text-dark"><i class="icon ion-logo-linkedin mr-3 align-middle lead"></i> LinkedIn</a></small>
      </div>
      <div class="col-lg-3 col-md-12 text-center py-4 border-bottom">
        <small><a href="" class="text-dark"><i class="icon ion-logo-twitter mr-3 align-middle lead"></i> Twitter</a></small>
      </div>
    </div>
  </section>
  <footer class="bg-light" id="footer">
    <div class="container">
          <small><span class="font-weight-bold">© 2023 Easy_Transport</span> Creado por <a href="/" class="text-dark" target="_blank">Easy_Transport</a></small>
    </div>
  </footer>
{% endblock %}
