{% extends 'layouts/nav.html' %}
{% load static %}
{% block content %}
<div class='container mt-5'>
  <div class='row'>
      <div class='col-md-10  text-center'>
        <img src="{% static 'img/Easytransport.jpg' %}" alt="Easy Transport Logo" class='header mb-3 img-thumbnail' width='123px' height='120px'>
        
          <form method= 'POST' class='card card-body'>
            {% csrf_token %}
            <h3  >Configura tus notificaciones</h3>
           
            <div class='mb-3'>
              <label for='rutas'>Elige la ruta o estacion</label>
              {% comment %} <select class="form-select" aria-label="Default select example"  id='rutas' name='rutas'> {% endcomment %}
                {% comment %} <option selected>elija una ruta</option> {% endcomment %}
                {% comment %} {% for route in routes %} {% endcomment %}
                  {% comment %} <option  selected value={{route.name}} name='rutas'>{{route.name}}</option> {% endcomment %}
                {% comment %} {% endfor %} {% endcomment %}
              {% comment %} </select> {% endcomment %}
              <input list="rutass" id="mirutas" name="rutas">
              <datalist id="rutass">
                {% for route in routes %} 
                  <option value={{route.name}}>
                {% endfor %} 
            </datalist>
            </div>
              {% comment %} <div class='mb-3'>
                <label for='mail'>Correo Electronico</label>
                <input class='form-control' type='email' placeholder='Ingresa mail' name='email' id='mail'>
              </div> {% endcomment %}
              <div class='row'>
              <div class="col-sm-7">
                <input type="number" class="form-control" placeholder="numero de veces a notificar" aria-label="number" name='countTime'>
              </div>
              <div class="col-sm">
                <input type="number" class="form-control" placeholder="Cada cuantos minutos" aria-label="State" name='time'>
              </div>  
            </div>              
              <button class='btn btn-outline-primary' type="submit">notificar</button>
          </form>

      </div>
  </div>
</div>
{% endblock  %}
