{% extends 'layouts/nav.html' %}
{% block content %}
<div class='container mt-5'>
    <div class='row'>
        <div class='col-md-4'>
            <h3 class='header' >Routes</h3>
            <p>Rutas que actualmente se manejan</p>

            <ol class="list-group">

              {% for route in Routes  %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{route.name}}</div>
                  {{route.addres}}
                  </div>
                </li>
              {% endfor %}
              </ol>
        </div>
        <div class='col-md-8'>
            {{map|safe}}
        </div>
    </div>
{% endblock  %}